/* Ediando a pagina com classes e id feitas com DOM */

* {
  margin: 0;
  padding: 0;
}

.headerPrincipal {
  height: 100px;
  background-color: black;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: beige;
  font-style: italic;
}

/* Lorem */
#paragrafo {
  margin: 50px 10px;
  justify-content: center;
  display: flex;
}

/* imagem que tem transição de acordo com função */
.imgAcender {
  justify-content: center;
  margin: auto;
  display: flex;
  height: 250px;
}

/* Div Button */
.divButton {
  width: 100%;
  justify-content: center;
  margin: auto;
  display: flex;
  margin: 25px 0;
}

/* Button com função */
.buttonLigar {
  width: 200px;
  height: 40px;
  justify-content: center;
  border-radius: 5px;
  border: 0.5px solid #c1c1c1;
  font-style: italic;
  font-weight: 700;
}

.buttonLigar:hover {
  background-color: #F9BD55;
  font-weight: 800;
}

.paragrafoProject {
  justify-content: center;
  display: flex;
  font-size: large;
}

.paragrafoProject span {
  /* background-color: black;
  color: #fff; */
  margin: 5px;
}